
<!DOCTYPE html>  
<html>  
     <head>  
     <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
     <link rel="stylesheet" href="style.css"/>
     </head>  
     <body>  
     <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        
     
          <div class="swiper-container">
               <div class="swiper-wrapper"> 
               
                    <div class="swiper-slide">
                     <div class="imgBx"><img  src=" images/Naruto_Uzumaki.png"/></div>
                     <div class="details"><h3>Naruto<br><span>Demon renard</span></h3></div>
                    </div>  

                    <div class="swiper-slide">
                         <div class="imgBx"><img  src=" images/sasuke.png"/></div>
                         <div class="details"><h3>Sasuke UCHIHA<br><span>Sharingan</span></h3></div>
                    </div> 

                    <div class="swiper-slide">
                         <div class="imgBx"><img  src=" images/Sakura.jpg"/></div>
                         <div class="details"><h3>Sakura haruno<br><span>shenin</span></h3></div>
                    </div> 
                    <div class="swiper-slide">
                         <div class="imgBx"><img  src=" images/Kakashi.png"/></div>
                         <div class="details"><h3>Kakashi Hatake<br><span>Sharingan</span></h3></div>
                    </div> 
                    <div class="swiper-slide">
                         <div class="imgBx"><img  src=" images/hinata.png"/></div>
                         <div class="details"><h3>Hinata HYUGA<br><span>Byakugan</span></h3></div>
                    </div> 
                    <div class="swiper-slide">
                         <div class="imgBx"><img  src=" images/Neji.jpg"/></div>
                         <div class="details"><h3>Neji HYUGA<br><span>Byakugan</span></h3></div>
                    </div> 
                    <div class="swiper-slide">
                         <div class="imgBx"><img  src=" images/tenten.jpg"/></div>
                         <div class="details"><h3>tenten<br><span>shenin</span></h3></div>
                    </div> 
                    <div class="swiper-slide">
                         <div class="imgBx"><img  src=" images/hinata-hyuga.jpg"/></div>
                         <div class="details"><h3>Hinata HYUGA<br><span>Byakugan</span></h3></div>
                    </div> 
                    <div class="swiper-slide">
                         <div class="imgBx"><img  src=" images/Itachi.jpg"/></div>
                         <div class="details"><h3>Itachi UCHIHA<br><span>akatsuki</span></h3></div>
                    </div> 
                    <div class="swiper-slide">
                         <div class="imgBx"><img  src=" images/Pain.jpg"/></div>
                         <div class="details"><h3>Pain<br><span>akatsuki</span></h3></div>
                    </div> 
                    <div class="swiper-slide">
                         <div class="imgBx"><img  src=" images/Hidan.jpg"/></div>
                         <div class="details"><h3>Hidan<br><span>akatsuki</span></h3></div>
                    </div> 
                    <div class="swiper-slide">
                         <div class="imgBx"><img  src=" images/Gaara.jpg"/></div>
                         <div class="details"><h3>Gaara<br><span>Gazekager</span></h3></div>
                    </div> 
                    <div class="swiper-slide">
                         <div class="imgBx"><img  src=" images/Orochimaru.png"/></div>
                         <div class="details"><h3>Orochimaru<br><span>python</span></h3></div>
                    </div> 
                    <div class="swiper-slide">
                         <div class="imgBx"><img  src=" images/Naruto.jpg"/></div>
                         <div class="details"><h3>Naruto_Uzumaki<br><span>Hokager</span></h3></div>
                    </div> 
                    <div class="swiper-slide">
                         <div class="imgBx"><img  src=" images/Hinata_Hyuga.jpg"/></div>
                         <div class="details"><h3>Hinata_Hyuga<br><span>Byakugan</span></h3></div>
                    </div> 
 
               </div>
   <div class="swiper-pagination"></div>
   </div>
          
   <script src="../package/swiper-bundle.min.js"></script>
          <script>
     var swiper = new Swiper('.swiper-container', {
       effect: 'coverflow',
       grabCursor: true,
       centeredSlides: true,
       slidesPerView: 'auto',
       coverflowEffect: {
       rotate: 60,
       stretch: 0,
       depth: 100,
       modifier: 1,
       slideShadows: true,
     },
     loop: true,
   });
 </script>
</body>  
</html>  
